#headerPanel{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 50px;
  padding-top: 30px;
  #formControl{
    width: 100px;
  }
}

#themeControl{
  width: 120px;
}

#langControl {
  width: 120px;
}